@mixin flexJustify($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin mobile_screen {
  @media screen and (max-width: $mobile){
    @content
  }
}