$dark: #1f1f1f;
$mediumBlue: #2830c9;
$darkGreyish: #282828;
$darkGreyish2: #323232;
$lightBlue: #4635cc;
$darkBlue: #21226c;
$lightGrey: #bdac9f;
$iconColor: #79a3b4;
$navItemColor: #adafb1;
$test:rgb(219 234 254 / var(1));


$sideNavigation: #f6f6f6;
$sideNavigation_alt:#DBEAFE;
$sideNavigation_alt_2:#80B7FB;
$mainBar: #e9e8e8;
$middleBar: #ffffff;

// viewport & screen sizes
$mobile: 480px;
$small-tablet: 768px;
$tablet: 1024px;
$small-desktop: 1280px;
$desktop: 1480px;