@import "./partials/global";
@import "./partials/nav-container";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  height: 100vh;
  position: fixed;
  width: 100%;
  .side-nav {
    width: 15%;
    background-color: $sideNavigation;
  }
  .middle-container {
    width: 30%;
    background-color: $middleBar;
  }

  .main-container {
    width: 55%;
    background-color: $mainBar;
  }
}
