@import "./partials/global";
@import "./partials/functions";
@import "./partials/nav-container";
@import "./partials/middle-container";
@import "./partials/main-container";
// @import "./partials/mobile";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Inter", sans-serif;
}

main {
  height: 100vh;
  position: fixed;
  width: 100%;

  .side-nav {
    width: 25%;
    background-color: $sideNavigation;
    

  }
  .middle-container {
    width: 75%;
    background-color: $middleBar;

  }

  .main-container {
    width: 100%;
    background-color: #f5f5f5;


  }
}

.homepage {
  max-width: 900px;
  margin: auto ;
  nav {
    padding: 20px 0;
    @include flexJustify(space-between, center, row);

    div {
      @include flexJustify(none, center, row);
      span {
        font-size: 1.3em;
        font-weight: 500;
        padding-left: 10px;
      }
    }
    ul {
      li {
        display: inline;
        margin-left: 20px;
      }
    }
  }
  .homepage-header {
    margin-top: 80px;
    h1 {
      font-size: 3.5em;
      font-weight: 700;
      text-align: center;
      line-height: 1;
    }
    p {
      text-align: center;
      margin: 20px 0;
    }
    a {
      background-color: #3361cc;
      padding: 10px 20px;
      border-radius: 3px;
      color: #fff;
      font-weight: 500;
    }
  }
}



@include mobile_screen{
  main {
    .side-nav {
      position: fixed;
      width: 20%;
      height: 100vh;
    

      .nav-container{
        .nav-container-heading{
          display: none;
        }
      }

      .navbar{
        li {
            @include flexJustify(center, center, row);
            border-radius: 0;
            i {
              display: inline-flex;
              justify-content: center;
              align-items: center;

            }
            span{display: none;}

      }
    }
    }

    .middle-container {
      position: fixed;
      left: 20%;
      margin: auto;
      height: 100vh;
      background-color: $middleBar;
    }

    .main-container {
      background-color: #f5f5f5;
      transform: translateX(-100%);
    }

  }



  .homepage{
    padding: 0 15px;
    margin:auto 20px;
    nav{
      @include flexJustify(space-between, center, column);
    }
    ul{
      margin-top: 1rem;
    }
  
    .homepage-header{
      margin-top: 10px;
  
      h1{
        font-size: 2.5em;
      }
      p{
        font-size: 15px;
        text-align: center;
        margin: 20px 30px;
      }
    }
  }


  .display-main-container{
    .side-nav{
      background-color: $middleBar;
    }
    .main-container {
      // this math baffled me!
        transform: translateX(25%);
        width: 80%;
        
      }

      .middle-container{
        display: none;    
      }

}
  
}
